ion-back-button::part(text) {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

ion-content {
  --background: transparent !important;
}

body {
  background: transparent !important;
}
