.speaker-container .speaker-call-button{
    margin-left: auto;
    margin-top: -48px;
}

.speaker-container .speaker-custom-image{
    height: 200px; /* Set your desired height */
    object-fit: cover; /* This ensures the image covers the area without distortion */
    width: 100%;
}