.title {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem; /* Adjust padding if needed */
  }
  
  .title img {
    margin-right: 1rem;
  }
  
  .title h1 {
    flex-grow: 1;
    margin: 0;
  }
  .fab-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .centered-card {
    width: 100%; /* Ensure the card takes the full width of its container */
  }
  .card-container{
    color: none;
  }
  .centered-title {
    text-align: center; /* Center the text inside the card */
    width: 100%; /* Ensure the title takes the full width of its container */
    padding: 10px;
    background-color: rgb(195, 139, 248);
    border-color: blueviolet;
    border-radius: 25px;
  }
  
  .scrollable-cards {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .scrollable-cards .card-container {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
  }
  .custom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .image-container {
    height: 200px; /* Set the desired height */
    width: 100%; /* Ensure the container takes the full width of the card */
    overflow: hidden; /* Hide any overflow */
  }
  
  .custom-image {
    height: 100%; /* Make the image take the full height of the container */
    width: 100%; /* Ensure the image takes the full width of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
  }
  
  
  
  